public class HelloWorld {
    public static void main(String[] args) {
        System.out.println("Hello World!");
    }
}

//third commit in github
public class VariablesExample {
    public static void main(String[] args) {
        int age = 30; // Integer variable
        double price = 19.99; // Double-precision floating-point variable
        String name = "Alice"; // String variable
        boolean isActive = true; // Boolean variable

        System.out.println("Name: " + name);
        System.out.println("Age: " + age);
        System.out.println("Price: " + price);
        System.out.println("Active: " + isActive);
    }
}

this is my commit for the webhooks
this is my second webhooks commit

This is my third commit.

this is my auto commit



